<br>
  <h1 class="display-3">Portafolio</h1>
 <h5><em> Desarrollo Ruby on Rails para emprendimientos de tipo Startup</em></h5>
 <h5><em>Desafío módulo 5: Creación de un proyecto nuevo.</em></h5>
    
    <br>
<br>

  <div class="row">
    <div class="col-sm-9 text"> 
     <h1 class="display-6"> Qué es Ruby</h1> 
     <p> Es un lenguaje interpretado creado por el japonés Yukihiro Matsumoto en 1993. La sintaxis está basada en Perl y Python,
     es un lenguaje de programación orientada a objetos, distribuida bajo una licencia de sofware libre y gratuito.
El lenguaje Ruby está diseñado para mejorar la productividad del desarrollador web manteniendo los principios de una buena 
interfaz de usuario. Como puedes ver, son muchas las posibilidades que nos brinda este lenguaje, 
que han llevado a Ruby a ser utilizado para crear muchos programas y aplicaciones bien conocidas por todos. 
</p>

        </div>

    <div class="col-sm-3"><%= image_tag 'ruby2.png', alt: "descripcion", class:"imagen" %></div> 
 

  </div>     <br>
      <br> <%=link_to 'Ir a proyectos', '/pages/projects', class: "ver-mas-btn" %>
</div>
 
<br>