    <br>
        <h1 class="display-6 text-center"> Proyectos  ¯\_( ͠• ᴗ ͠• )_/¯</h1>
<br>
        <!-- row con 3 cards -->
        <div class="row text-center">

            <div class="col-sm-4 col-12 px-2 mb-2">
                <div class="card">
               
                  <%= image_tag 'bootstrap.jpg', alt: "descripción" %>
                    <div class="card-body">
                        <h5 class="card-title">Fundamentos de Desarrollo Front End</h5>
                        <p class="card-text">En este módulo vimos la creación de sitios responsivos con herramientas para el desarrollo web, 
                        entornos y flujos de trabajo desde la construcción hasta la puesta en marcha, trabajando con:</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">HTML 5 - CSS</li>
                        <li class="list-group-item">Bootstrap</li>
                        <li class="list-group-item">Javascript</li>
                    </ul>
                    <div class="card-body">
                        <button type="button" class="ver-mas-btn">Ver más</button>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-12 px-2 mb-2">
                <div class="card">
                   <%= image_tag 'bbdd.jpg', alt: "descripcion" %>
                    <div class="card-body">
                        <h5 class="card-title">Bases de datos relacionales</h5>
                        <p class="card-text">Operar una base de datos relacional utilizando el lenguaje SQL para la obtención,
manipulación y definición de datos dando solución a un problema de almacenamiento de información.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">PostgreSQL</li>
                        <li class="list-group-item">Manipulación de datos</li>
                        <li class="list-group-item">Diagramando un modelo conceptual</li>
                    </ul>
                    <div class="card-body">
                        <button type="button" class="ver-mas-btn">Ver más</button>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-12 px-2 mb-2">
                <div class="card">
                       <%= image_tag 'ruby.jpg', alt: "descripcion" %>
                    <div class="card-body">
                        <h5 class="card-title">Aplicaciones con Ruby on Rails</h5>
                        <p class="card-text">En este módulo aprendimos a crear un proyecto en Ruby on Rails que incorpora vistas y controladores 
                        utilizando la línea de comando, helpers y layouts para dar solución a un requerimiento.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Proyectos en Rails</li>
                        <li class="list-group-item">Bases de datos</li>
                        <li class="list-group-item">Despliegue de una aplicación</li>
                    </ul>
                    <div class="card-body">
                        <button type="button" class="ver-mas-btn">Ver más</button>
                    </div>
                </div>
        </div>
         </div>